
.main-bg-color{
  background-color: #fb9c9c !important;
  color: black !important;
  width: auto !important;
}

.text-style{
  font-weight: bold;
}

.card-img-round{
  width: 40%;
  border-radius: 50%;
  border: black solid 2px;
  margin: 0 auto;
}

.card{
  padding: 1.5em .5em .5em;
  text-align: center;
  border: none;

}

footer{
  width: 100% !important;
  background-color: #fb9c9c !important;
}

