/* This is a CSS comment */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.auth-status {
  text-align: right;
  margin-right: 20px; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.header img {
  width: 50%;
  height: auto;
  margin-right: 20px;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.images div {
  flex: 1;
  margin: 10px;
}

.images img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.caption {
  font-size: 1.2em;
  margin-top: 10px;
}
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #ddd;
  color: black;
}

/* from Taylor's css */
.main-bg-color{
    background-color: #fb9c9c !important;
    color: black !important;
}

.text-style{
    font-weight: bold;
}

.card-img-top{
    width: 40%;
    border-radius: 50%;
    border: black solid 2px;
    margin: 0 auto;
}

.card{
    padding: 1.5em .5em .5em;
    text-align: center;
    border: none;

}


