{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!--         <img src="{% static 'images/logo.png' %}" alt="Logo" /> -->
        <h1>Welcome to What is for dinner?</h1>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="{% url 'family_list' %}">Family List</a></li>
          <li><a href="{% url 'member_list' %}">Member List</a></li>
        </ul>
      </nav>
      <div class="images">
        <div>
          <img
            src="{% static 'images/dinnerTablewithFood.png' %}"
            alt="Image 1"
          />
          <div class="caption">Sam wants this.</div>
        </div>
        <div>
          <img
            src="{% static 'images/dinnerTablewithFood2.png' %}"
            alt="Image 2"
          />
          <div class="caption">Mark wants this!</div>
        </div>
        <div>
          <img
            src="{% static 'images/dinnerTablewithFood3.png' %}"
            alt="Image 3"
          />
          <div class="caption">Sarah says this!</div>
        </div>
      </div>
    </div>
  </body>
</html>
