{% load static %}
<!-- stuff on this page is going to be - reused on all the pages -->
<!DOCTYPE html>
<html lang="en">

<head>
  <div>
    <img src=" {% static 'images/WFDlogo.png' %}" alt="Logo" class="logo">
  </div>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!---  So this title is used UNLESS the child page has its block with same name  -->
  <title>{% block title %}What is for dinner?{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="auth-status">
    {% if user.is_authenticated %}
    Hello, {{ user.username }}!<br>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    Hello, Guest!<br>
    <a href="{% url 'login' %}">Login</a><br>
    <a href="{% url 'signup' %}">SignUp</a>
    {% endif %}
  </div>
  <div class="links-for-users">
    <!-- this could be expanded and re-used or moved to a nav bare or a parent template. -->
    {% if user.is_authenticated %}
    <a href="{% url 'dinner_options_view' %}">Add and View Dinner Options</a><br>
    <a href="{% url 'dinner_suggestion_view' %}">Make or view your Dinner Suggestion for tonight</a>

    <br><br>
    {% endif %}
  </div>
  {% block content %}
  <!-- this where the core content will overwrite from the child pages. -->
  {% endblock %}
</body>

<footer>
  <!-- this is where footer stuff should go. -->
  <p>&copy; 2024 What is for dinner?</p>
  <!-- we could add links to email support, or about us page -->
  <!-- could add social  media links -->
</footer>

</html>