{% extends "base.html" %}
{% load static %}

<title>Dinner Decision</title>

{% block content %}
<h1>Welcome, {{ member.name }}</h1>
{% if is_admin %}
<p>You are an admin member of a family.</p>
{% if final_choice %}

<p>The family {{ final_choice.family_id }} has made a decision for today's dinner.</p>
<p>The final choice for today's dinner was suggested by: {{ final_choice_maker.name }}</p>
<p><strong><span style="font-size: larger;">The chosen dinner option: {{ final_dinner_option }}</span></strong></p>

{% else %}

<h2>Choose Today's Dinner Suggestion</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit"> Final Choice</button>
</form>

{% endif %}

{% else %}

{% if final_choice %}

<p>The family {{ final_choice.family_id }} has made a decision for today's dinner.</p>
<p>The final choice for today's dinner was suggested by: {{ final_choice_maker.name }}</p>
<p><strong><span style="font-size: larger;">The chosen dinner option is: {{ final_dinner_option }}</span></strong></p>

{% else %}

<p>When the family decision for {{ current_date }} has been made it will be posted here..</p>

{% endif %}
{% endif %}

{% endblock %}