{% extends "base.html" %}
{% load static %}

<!-- this is the block that will overwrite the title in the base.html -->
<!-- I removed it. leave or stay? -->
<!-- note:  HTML comment are actually ready by Django, so to comment Django the syntax of this next line must be used ----->
{# {% block title %}Welcome to What is for dinner?{% endblock %} #}


{% block content %}
<div class="container">
  <div class="header">
    <h1>Welcome to What is for Dinner?</h1>
  </div>
  <div class="links-for-users">
    <!-- this could be expanded and re-used or moved to a nav bare or a parent template. -->
    {% if user.is_authenticated %}
    <a href="{% url 'dinner_options_view' %}">Add and View Dinner Options</a><br>
    <a href="{% url 'dinner_suggestion_view' %}">Make or view your Dinner Suggestion for tonight</a>

    <br><br>
    {% endif %}
  </div>
  <!-- I think this would be home page only.  -->
  <div class="description">
    <p>What is for dinner? is a site where you can add your dinner options and then have the Family Admin select one for
      you. This is great getting everyone's input and deciding "What is for dinner?!" </p>
    <div class="card-group gap-3 mb-5">
      
      <div class=" card col-md-3 mb-sm-0">
        <img src="{% static 'images/dinnerTablewithFood.png' %}" class="card-img-top" alt="Dinner table with food" />
        <div class="caption card-text">Sam wants this.</div>
      </div>
      <div class="card col-md-3 mb-sm-0">
        <img src="{% static 'images/dinnerTablewithFood2.png' %}" class="card-img-top" alt="Second dinner table with food" />
        <div class="caption">Mark wants this!</div>
      </div>
      <div class="card col-md-3 mb-sm-0">
        <img src="{% static 'images/dinnerTablewithFood3.png' %}" class="card-img-top" alt="Third dinner table with food" />
        <div class="caption">Sarah wants this!</div>
      </div>
    </div>
  </div>
  </div>
  {% endblock %}