{% extends "base.html" %}
{% load static %}

<!-- this is the block that will overwrite the title in the base.html -->
<!-- I removed it. leave or stay? -->
<!-- note:  HTML comment are actually ready by Django, so to comment Django the syntax of this next line must be used ----->
{# {% block title %}Welcome to What is for dinner?{% endblock %} #}


{% block content %}
<div class="container">
  <div class="header">
    <h1>Welcome to What is for Dinner?</h1>
  </div>
  <!-- I think this would be home page only.  -->
  <div class="description">
    <p>What is for dinner? is a site where you can add your dinner options and then have the Family Admin select one for
      you. This is great getting everyone's input and deciding "What is for dinner?!" </p>
    <div class="images">
      <div>
        <img src="{% static 'images/dinnerTablewithFood.png' %}" alt="Dinner table with food" />
        <div class="caption">Sam wants this.</div>
      </div>
      <div>
        <img src="{% static 'images/dinnerTablewithFood2.png' %}" alt="Second dinner table with food" />
        <div class="caption">Mark wants this!</div>
      </div>
      <div>
        <img src="{% static 'images/dinnerTablewithFood3.png' %}" alt="Third dinner table with food" />
        <div class="caption">Sarah wants this!</div>
      </div>
    </div>
  </div>
  {% endblock %}